.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color:#f5e5c3;
  padding: 20px;
}

.banner-card {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #f5e5c3 0%, #FFD580 100%);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 1000px;
  width: 100%;
}

.banner-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 128, 0, 0.5);
}

.banner-text {
  flex: 1;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  text-align: left;
}

.banner-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #2b2007; 
}

.banner-text p {
  font-size: 1.25rem;
  color: #555;
}

.banner-image {
  flex: 1;
  overflow: hidden;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.banner-card:hover .banner-image img {
  transform: scale(1.1);
}
