.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #54bf4d;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #006400; /* Dark green border */
}

.navbar-brand a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.navbar-links a:hover::after {
  width: 100%;
  left: 0;
  background-color: #ffd700; /* Golden color */
}

.navbar-links a:hover {
  color: #ffd700; /* Golden color */
}
