.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c7b9ac;
}

.navbar-brand a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 1em;
}
